/*초기화*/
* {
  margin: 0;
  padding: 0;
  font: normal 12px '돋움';
}

ul, ol { list-style: none; }
a { text-decoration: none; color: #111; }

#wrapper {
  width : 980px;
  height: auto;
  margin: 0 auto;
}

/*헤더*/
header {
  width: 100%;
  height: 160px;
  background: url('../img/head_top_line.png') no-repeat;
  position: relative;
}

header>.logo {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left : -95px;
}

header>p { float: right; margin-top: 10px; }

header>img {
  position: absolute;
  right : 0px;
  top : 56px;
}

header>.gnb { position: absolute; left: 0; bottom: 10px; width: 100%;
height: 50px; }

header>.gnb>li {
  float: left;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

header>.gnb>li>a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  border-top: 2px solid #3f3f3f;
  background-repeat: no-repeat;
}

header>.gnb>li:nth-child(1)>a {
  background-image: url('../img/head_menu1.png');
}
header>.gnb>li:nth-child(2)>a {
  background-image: url('../img/head_menu2.png');
}
header>.gnb>li:nth-child(3)>a {
  background-image: url('../img/head_menu3.png');
}
header>.gnb>li:nth-child(4)>a {
  background-image: url('../img/head_menu4.png');
}
header>.gnb>li:nth-child(5)>a {
  background-image: url('../img/head_menu5.png');
}

header>.gnb>li:nth-child(1)>a:hover {
  background-image: url('../img/head_menu1_ov.png');
}
header>.gnb>li:nth-child(2)>a:hover {
  background-image: url('../img/head_menu2_ov.png');
}
header>.gnb>li:nth-child(3)>a:hover {
  background-image: url('../img/head_menu3_ov.png');
}
header>.gnb>li:nth-child(4)>a:hover {
  background-image: url('../img/head_menu4_ov.png');
}
header>.gnb>li:nth-child(5)>a:hover {
  background-image: url('../img/head_menu5_ov.png');
}

/*푸터*/
footer {
  width: 100%;
  height: 130px;
  /*background: url('../img/footer_top_line.png') no-repeat;*/
  position: relative;
  border-top: 1px solid #d6d1bc;
}


footer>p {
  font-size: 11px;
  line-height: 16px;
  color: #585858;
  float: right;
  margin-top: 20px;
  /*
  position: absolute;
  right: 0px;
  top: 30px;
  */
}

footer>p>span {
  font-weight: bold;
  color: #888;
}

/*컨텐츠*/
#main {
  width: 100%;
  height: auto;
}

#main>article {
  margin-bottom: 10px;
}

/*slide*/
#main>.slide {
  width: 100%;
  height: 312px;
  background: url('../img/main_slide_img1.jpg')
}

#main>.slide>div {
  width: 230px;
  height: 100%;
  background: url('../img/main_banner_bg.jpg');
  float: right;
}

#main>.slide>img {
  margin: 50px;
}

#main>.slide>div>img:nth-child(1) {
  float: right;
  margin: 6px;
}
#main>.slide>div>img:nth-child(2) {
  margin-left: 10px;
  margin-top: -10px;
}
#main>.slide>div>img:nth-child(3) {
  margin-left: 10px;
}

/*banner*/
#main>.banner {
  width: 100%;
  height: 74px;
}

#main>.banner>a {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
}

#main>.banner>a:nth-child(1) {
  background: url('../img/main_banner_sub1_bg.jpg');
}

#main>.banner>a:nth-child(2) {
  background: url('../img/main_banner_sub2_bg.jpg');
}

#main>.banner>a>img {
  margin: 15px;
}

/*latest*/
#main>.latest {
  width: 100%;
  height: 180px;
}

#main>.latest>div {
  width: 33.333%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  position: relative;
}

#main>.latest>div>a:nth-child(1) {
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}
#main>.latest>div>a:nth-child(2) {
  display: block;
  position: absolute;
  left: 0;
  bottom: 22px;
}

#main>.latest table {
  position: absolute;
  right: 12px;
  bottom: 20px;
}

#main>.latest table td:nth-child(2) {
  width: 132px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}


/*info*/
#main>.info  {
  width: 100%;
  height: 150px;
  padding: 10px 0;
  box-sizing: border-box;
  border-top: 2px solid #756c65;
  margin-bottom: 0px;
}

#main>.info>div {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

#main>.info>div:nth-child(1) {
  width: 39%;
}

#main>.info>div:nth-child(2) {
  width: 25%;
  border-left: 2px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}

#main>.info>div:nth-child(3) {
  width: 36%;
}


#main>.info>div>div:nth-child(2) {
  margin: 15px 5px;
}
#main>.info>div>div:nth-child(2)>img {
  margin: 0px 5px;
}
#main>.info>div>div:nth-child(2)>span {
  display : block;
  float: right;
  padding-right: 12px;
}

#main>.info>div:nth-child(2) {
  padding-left: 15px;
  display: block;
}
#main>.info>div:nth-child(2)>img {
  display: block;
}
#main>.info>div:nth-child(2)>span {
  display: block;
  margin-top: 20px;
}
